* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding-top: 5em;
    background-color: #333;
    color: white;
}

h1 {
    text-align: center;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    justify-items: center;
    align-items: center;
}

.pic-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 60%;
    margin: 20px auto;
    justify-items: center;
    align-items: center;
}

section {
    margin: 3rem 0px;
}

.item-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #333;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: #f0f0f0;
    color: #222;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.total {
    font-weight: bold;
    background: #c8e6c9;
}

footer {
    text-align: center;

}
